:root{
    --title-text:#212121;
    --text-color:#757575;
    --opposite-color:#FFFFFF;
    --logo-color:#2196F3;
    --hover-color:#2196F3;
    --second-logo-color:#000000;
    --pouring-color:#2F303A;/*колір заливки*/
    --second-pouring-color:#F5F4FA;
    --footer-text:#FFFFFF99;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    pad: 0 15px;
    border: 2px red solid;
}
a{
    cursor: pointer;
}
/* header */
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-color);
}
.black{
    color: var(--second-logo-color);
}
.navigation{
    font-size: 14px;
    font-weight: 500;

}
.site-nav-link:hover,
.site-nav-link:focus{
    color: var(--hover-color);
    cursor: pointer;
}
.site-nav-link{
    color: var(--title-text);
}
.contacts-link{
    color: var(--text-color);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
}
.container-header{
    background-color: var(--second-pouring-color);
}
/* hero */
.hero{
    background-color: var(--pouring-color);
}
.hero-title{
    font-size: 44px;
    color: var(--opposite-color);
    font-weight: 900;
}
.hero-button{
    background-color:var(--logo-color) ;
}
.hero-button-text{
    color: var(--opposite-color);
    font-size: 16px;
    font-weight: 700;
}
/* priorities */
.priorities-list-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--title-text);
}
.priorities-list-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
}
/* Наша справа - our business */
.section-title{
    color: var(--title-text);
    font-weight: 700;
    font-size: 36px;
}
/* команда */
.employee{
    color: var(--title-text);
    font-weight: 500;
    font-size: 16px;
}
.employee-position{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
}
/* Контактні дані */
.footer{
    background-color: var(--pouring-color);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-color);
}
.white{
    color: var(--opposite-color);
}
.address{
    color: var(--opposite-color);
    font-weight: 400;
    font-size: 14px;
}
.footer-contact-link{
    color: var(--footer-text);
    font-weight: 400;
    font-size: 14px;
}
/* портфоліо */
.nav-button-text{
    color: var(--title-text);
    font-weight: 500;
    font-size: 16px;
}
.nav-button-text:hover{
    color: var(--opposite-color);
}
.nav-button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.project-name{
    color: var(--title-text);
    font-size: 18px;
    font-weight: 700;
}
.project-type{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}