:root{
    --title-text:#212121;
    --text-color:#757575;
    --opposite-color:#FFFFFF;
    --logo-color:#2196F3;
    --hover-color:#2196F3;
    --second-logo-color:#000000;
    --pouring-color:#2F303A;/*колір заливки*/
    --second-pouring-color:#F5F4FA;
    --footer-text:#FFFFFF99;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    cursor: pointer;
}
/* header */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrap{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-color);
    margin-right: 93px;
}
.black{
    color: var(--second-logo-color);
}
.navigation{
    font-size: 14px;
    font-weight: 500;
}
.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}
.site-nav-link:hover,
.site-nav-link:focus{
    color: var(--hover-color);
    cursor: pointer;
}
.site-nav-link{
    color: var(--title-text);
}
.contacts-link{
    color: var(--text-color);
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--hover-color);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.email{
    margin-right: 50px;
}
.container-header{
    background-color: var(--second-pouring-color);
}
/* hero */
.hero{
    background-color: var(--pouring-color);
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    font-size: 44px;
    color: var(--opposite-color);
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.hero-button-wrap{
    display: flex;
    justify-content: center;
}
.hero-button{
    background-color:var(--logo-color);
    padding: 10px 32px;
}
.hero-button-text{
    color: var(--opposite-color);
    font-size: 16px;
    font-weight: 700;
}
/* Переваги */
.advantages{
    padding-bottom: 94px;
}
.priorities-list{
    display: flex;
    justify-content: space-between;
}
.priorities-list-item{
    width: 270px;
}
.priorities-list-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--title-text);
    margin-bottom: 10px;
}
.priorities-list-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 171.429%;
}
/* Чим ми займаємось */
.activities{
    padding-bottom: 94px;
}
.activity-list{
    display: flex;
    justify-content: space-between;
}
.activity-img{
    width: 370px;
    height: 294px;
}
.section-title{
    color: var(--title-text);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
/* Наша команда */
.team{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--second-pouring-color);
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-list-item{
    width: 270px;
    padding-bottom: 30px;
    background-color: var(--opposite-color);
}
.employee-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.employee-wrap{
    text-align: center;
}
.employee{
    color: var(--title-text);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.employee-position{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
}
/* Контактні дані */
.footer{
    background-color: var(--pouring-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-color);
}
.white{
    color: var(--opposite-color);
}
.footer-list{
    margin-top: 20px;
}
.contacts-list-item{
    margin-bottom: 9px;
}
.address{
    color: var(--opposite-color);
    font-weight: 400;
    font-size: 14px;
}
.footer-contact-link{
    color: var(--footer-text);
    font-weight: 400;
    font-size: 14px;
}
/* портфоліо */
.projects-nav{
    margin-bottom: 50px;
}
.nav-button{
    background-color: var(--second-pouring-color);
    border: none;
}
.nav-button-text{
    color: var(--title-text);
    font-weight: 500;
    font-size: 16px;
    padding: 6px 22px;
}
.nav-button-text:hover,
.nav-button-text:focus{
    color: var(--opposite-color);
    padding: 6px 25px;
}
.nav-button:hover,
.nav-button:focus{
    background-color: var(--hover-color);
    cursor: pointer;
    color: var(--opposite-color);
    border-radius: 4px;
}
/* projects list */
.project-img{
    width: 370px;
    height: 294px;
    margin-bottom: 20px;
}
.project-name{
    color: var(--title-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}
.project-type{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}
.projects{
    padding-bottom: 94px;
}