:root{
    --title-text:#212121;
    --text-color:#757575;
    --opposite-color:#FFFFFF;
    --logo-color:#2196F3;
    --hover-color:#2196F3;
    --second-logo-color:#000000;
    --pouring-color:#2F303A;/*колір заливки*/
    --second-pouring-color:#F5F4FA;
    --footer-text:#FFFFFF99;
}